*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}
canvas{
    border: 1px solid black;
}
#canvas{
    background-color: black;
    background-image: radial-gradient(rgb(43, 39, 39), black);
    position: absolute;
    left: 0px;
    top: 0px;
}
